<div class="card text-center" id="footer">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Designed and Developed By Team Alpha</h5>
    <p class="card-text">Want something to work on? Browse all projects</p>
    <a href="#" class="btn btn-primary">move up</a>
  </div>
  <div class="card-footer text-muted">
        All rights Researved 2020
  </div>
</div>