     {{>navbar}}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>You Recieved An Error:<span class="member-name"></span></h2>
            {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>